<div>
  <h2 class="text-center">List of users</h2>

  <form
    (ngSubmit)="search()"
    class="d-flex flex-wrap justify-content-center">

    <div class="d-flex flex-column gap-3">
      <div class="d-flex gap-3 flex-wrap">
        <label class="d-flex flex-column flex-grow-1">
          Username
          <input
            [(ngModel)]="searchModel.username"
            name="username"
            autocomplete="off"
            class="form-control">
        </label>

        <label class="d-flex flex-column flex-grow-1">
          Email
          <input
            [(ngModel)]="searchModel.email"
            name="email"
            type="email"
            autocomplete="off"
            class="form-control">
        </label>
      </div>

      <app-search-and-reset-buttons
        [isFilterOn]="filterOn"
        [resetFilter]="resetFilter"></app-search-and-reset-buttons>
    </div>
  </form>

  <app-user-table
    [users]="users"
    [searchModel]="searchModel"></app-user-table>
</div>
