<h1 class="mb-4">Welcome to the Admin Panel</h1>
<div class="row justify-content-center">
  <div class="col-md-4 mb-3">
    <a routerLink="/movies" class="btn btn-primary btn-lg w-100">
      Movies
      <i class="bi bi-film"></i>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/people" class="btn btn-primary btn-lg w-100">
      People
      <i class="bi bi-person"></i>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/users" class="btn btn-primary btn-lg w-100">
      Users
      <i class="bi bi-person-circle"></i>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/reviews" class="btn btn-primary btn-lg w-100">
      Reviews
      <i class="bi bi-star"></i>
    </a>
  </div>
  <div class="col-md-4 mb-3">
    <a routerLink="/genres" class="btn btn-primary btn-lg w-100">
      Genres
      <i class="bi bi-tags"></i>
    </a>
  </div>
</div>
