<div class="d-flex justify-content-between align-items-center w-100 flex-wrap">
  <app-back-button></app-back-button>

  <h2 *ngIf="personId" class="text-center flex-grow-1 m-0">Edit person</h2>
  <h2 *ngIf="!personId" class="text-center flex-grow-1 m-0">Add a new person</h2>
</div>

<form
  class="d-flex flex-column m-auto px-5 mt-4 gap-4"
  (ngSubmit)="save(form)"
  #form="ngForm">

  <label class="d-flex flex-column">
    Name*
    <input
      [(ngModel)]="personForm.name"
      [ngClass]="{'is-invalid': form.submitted && form.controls['name'].invalid}"
      class="form-control"
      name="name"
      type="text"
      minlength="4"
      autocomplete="off"
      required>
  </label>

  <label class="d-flex flex-column">
    Last name
    <input
      [(ngModel)]="personForm.lastName"
      [ngClass]="{'is-invalid': form.submitted && form.controls['last name'].invalid}"
      class="form-control"
      name="last name"
      type="text"
      minlength="4"
      autocomplete="off">
  </label>

  <div class="d-flex gap-3 flex-wrap">
    <label class="d-flex flex-column flex-grow-1">
      Gender*
      <select
        [(ngModel)]="personForm.gender"
        [ngClass]="{'is-invalid': form.submitted && form.controls['gender'].invalid}"
        name="gender"
        class="form-select"
        required>
        <option [value]="'MALE'">Male</option>
        <option [value]="'FEMALE'">Female</option>
      </select>
    </label>

    <label class="d-flex flex-column flex-grow-1">
      Birth*
      <input
        [(ngModel)]="birth"
        [ngClass]="{'is-invalid': form.submitted && form.controls['birth'].invalid}"
        class="form-control"
        name="birth"
        type="date"
        required>
    </label>
  </div>

  <app-save-and-cancel-buttons></app-save-and-cancel-buttons>
</form>
<ul *ngIf="errorMessages.length !== 0" class="w-75 m-auto alert alert-danger mt-4">
  <li *ngFor="let errorMessage of errorMessages" class="ms-4">
    {{ errorMessage }}
  </li>
</ul>
